In [24]:
import pandas as pd
import numpy as np
import json
import os

In [25]:
# with open('data/district.json') as f:
#     data = json.load(f)

In [26]:
# print(data.keys())

In [27]:
# df_benchmarks = pd.DataFrame(data['benchmarks'])
# df_schools = pd.DataFrame(data['schools'])
# df_courseSections = pd.DataFrame(data['courseSections'])
# df_courseSectionRosters = pd.DataFrame(data['courseSectionRosters'])
# df_scores = pd.DataFrame(data['scores'])

**Benchmarks**

In [28]:
# print(df_benchmarks.shape)
# df_benchmarks.head(42)

In [29]:
# df_benchmarks['year'].unique()

In [30]:
# df_benchmarks['level'].unique()

In [31]:
# df_benchmarks['dataSource'].unique()

In [32]:
#df_schools.head()

In [33]:
#df_courseSections.head()

In [34]:
#df_courseSectionRosters.head()

Scores

In [35]:
#df_scores.head()

In [36]:
#df_scores.shape

In [37]:
#df_scores['id'].nunique()

In [38]:
#df_scores['studentLevel'].unique()

In [39]:
#df_scores.columns

In [40]:
# scoreTypes = ['value_actMathScore', 'value_actEnglishScore',
#        'value_actReadingScore', 'value_actScienceScore',
#        'value_actCompositeScore', 'value_nweaMath', 'value_nweaReading',
#        'value_nweaEnglish', 'value_iReadyMath', 'value_iReadyReading',
#        'value_actMasteryComposite', 'value_actMasteryReading',
#        'value_actMasteryMath', 'value_actMasteryScience',
#        'value_actMasteryEnglish', 'value_nweaELA', 'value_scantronMath',
#        'value_scantronReading', 'value_mapMath', 'value_mapEnglish',
#        'value_mapReading', 'value_mapRLA', 'value_scantronScience',
#        'value_scantronLanguage', 'value_ReadingFoundations',
#        'value_scantronAlgebra', 'value_eocMath', 'value_actELAScore',
#        'value_mapScience', 'value_LeapELAScale', 'value_LeapMathScale',
#        'value_LeapALScale', 'value_LeapE2Scale', 'value_LeapGmScale',
#        'value_LeapBlScale', 'value_LeapE3Scale', 'value_LeapUsScale',
#        'value_E1Scale', 'value_UsEsScale', 'value_accessReadingScale',
#        'value_accessReadingProficiency', 'value_accessCompositeScale',
#        'value_accesscompositeProficiency', 'value_dibelsReading',
#        'value_mapHistory', 'value_LEAPSocSci', 'value_scantronGeometry',
#        'value_MathMilestones', 'value_ELAMilestones', 'value_starReading',
#        'value_starMath', 'value_ScienceMilestones', 'value_LEAPScience',
#        'value_SocialMilestones', 'value_gcaInfo', 'value_gcaNar',
#        'value_gcaOpin', 'value_aimsWebMath', 'value_aimsWebReading']

# for score in scoreTypes:
#     print(score, df_scores[score].nunique())

In [41]:
#df_scores['studentId'].nunique()

New Data

In [42]:
filename = os.path.join(os.getcwd(), "data/processed", "a_courseSections_2024-08-29.csv")
courseSections_df = pd.read_csv(filename, header = 0)

In [43]:
courseSections_df.head(10)

      id    vanityId  year  schoolId
0  40388        PE 4  2015       222
1  40389   READING 4  2015       222
2  40390   HmroomPK6  2015       222
3  40391  LANGUAGE 4  2015       222
4  40392   SCIENCE 4  2015       222
5  40393      MATH 4  2015       222
6  40394    SOC ST 4  2015       222
7  40395   HmroomPK6  2015       222
8  40396   READING 4  2015       222
9  40397      MATH 4  2015       222

In [44]:
courseSections_df.shape

(17662, 4)

In [45]:
print(courseSections_df.isnull().sum())

id          0
vanityId    0
year        0
schoolId    0
dtype: int64

In [46]:
filename_second = os.path.join(os.getcwd(), "data/processed", "a_scores_2024-09-11.csv")
scores_df = pd.read_csv(filename_second, header = 0)

In [47]:
scores_df.head(10)

,studentId,studentLevel,year,measurementTypeId,subgroup_specialEd,subgroup_lunchStatus,subgroup_gender,subgroup_ethnicity,subgroup_ell,subgroup_bottom25,...,value_starReading,value_starMath,value_ScienceMilestones,value_LEAPScience,value_SocialMilestones,value_gcaInfo,value_gcaNar,value_gcaOpin,value_aimsWebMath,value_aimsWebReading
0,44774,9,2018,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,44774,8,2017,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,44774,8,2017,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,44775,8,2017,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,44775,8,2017,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,44775,9,2018,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,44776,9,2018,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,44776,8,2017,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,44776,8,2017,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,44777,6,2017,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [48]:
scores_df.columns

Index(['studentId', 'studentLevel', 'year', 'measurementTypeId',
       'subgroup_specialEd', 'subgroup_lunchStatus', 'subgroup_gender',
       'subgroup_ethnicity', 'subgroup_ell', 'subgroup_bottom25',
       'value_actMathScore', 'value_actEnglishScore', 'value_actReadingScore',
       'value_actScienceScore', 'value_actCompositeScore', 'value_nweaMath',
       'value_nweaReading', 'value_nweaEnglish', 'value_iReadyMath',
       'value_iReadyReading', 'value_actMasteryComposite',
       'value_actMasteryReading', 'value_actMasteryMath',
       'value_actMasteryScience', 'value_actMasteryEnglish', 'value_nweaELA',
       'value_scantronMath', 'value_scantronReading', 'value_mapMath',
       'value_mapEnglish', 'value_mapReading', 'value_mapRLA',
       'value_scantronScience', 'value_scantronLanguage',
       'value_ReadingFoundations', 'value_scantronAlgebra', 'value_eocMath',
       'value_actELAScore', 'value_mapScience', 'value_LeapELAScale',
       'value_LeapMathScale', 'value_LeapALScale', 'value_LeapE2Scale',
       'value_LeapGmScale', 'value_LeapBlScale', 'value_LeapE3Scale',
       'value_LeapUsScale', 'value_E1Scale', 'value_UsEsScale',
       'value_accessReadingScale', 'value_accessReadingProficiency',
       'value_accessCompositeScale', 'value_accesscompositeProficiency',
       'value_dibelsReading', 'value_mapHistory', 'value_LEAPSocSci',
       'value_scantronGeometry', 'value_MathMilestones', 'value_ELAMilestones',
       'value_starReading', 'value_starMath', 'value_ScienceMilestones',
       'value_LEAPScience', 'value_SocialMilestones', 'value_gcaInfo',
       'value_gcaNar', 'value_gcaOpin', 'value_aimsWebMath',
       'value_aimsWebReading'],
      dtype='object')

Is there a way to find which student ID belongs at which school?