In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
with open('data/district.json') as f:
    data = json.load(f)

In [3]:
print(data.keys())

dict_keys(['benchmarks', 'schools', 'courseSections', 'courseSectionRosters', 'scores'])

In [4]:
df_benchmarks = pd.DataFrame(data['benchmarks'])
df_schools = pd.DataFrame(data['schools'])
df_courseSections = pd.DataFrame(data['courseSections'])
df_courseSectionRosters = pd.DataFrame(data['courseSectionRosters'])
df_scores = pd.DataFrame(data['scores'])

**Benchmarks**

In [25]:
print(df_benchmarks.shape)
df_benchmarks.head(42)

(42, 6)

     id districtId  year level                     dataSource value
0   120         45  2017     3             value_scantronMath  2356
1   121         45  2017     3          value_scantronReading  2563
2   122         45  2017     4             value_scantronMath  2493
3   123         45  2017     4          value_scantronReading  2674
4   124         45  2017     5             value_scantronMath  2584
5   125         45  2017     5          value_scantronReading  2841
6   126         45  2017     6             value_scantronMath  2675
7   127         45  2017     6          value_scantronReading  2897
8   128         45  2017     7             value_scantronMath  2766
9   129         45  2017     7          value_scantronReading  3008
10  130         45  2017     8             value_scantronMath  2823
11  131         45  2017     8          value_scantronReading  3063
12  132         45  2017    11        value_actCompositeScore  19.5
13  133         45  2018     3             value_scantronMath  2364
14  134         45  2018     3          value_scantronReading  2518
15  528         45  2018     3  value_aspireReadingScaleScore   250
16  675         45  2018     3                 value_starMath  1900
17  135         45  2018     4             value_scantronMath  2488
18  136         45  2018     4          value_scantronReading  2678
19  529         45  2018     4  value_aspireReadingScaleScore   260
20  676         45  2018     4                 value_starMath  2488
21  137         45  2018     5             value_scantronMath  2589
22  138         45  2018     5          value_scantronReading  2798
23  530         45  2018     5  value_aspireReadingScaleScore   270
24  677         45  2018     5                 value_starMath  2589
25  140         45  2018     6             value_scantronMath  2667
26  141         45  2018     6          value_scantronReading  2883
27  531         45  2018     6  value_aspireReadingScaleScore   275
28  678         45  2018     6                 value_starMath  2667
29  143         45  2018     7             value_scantronMath  2743
30  144         45  2018     7          value_scantronReading  2954
31  532         45  2018     7  value_aspireReadingScaleScore   280
32  679         45  2018     7                 value_starMath  2743
33  146         45  2018     8             value_scantronMath  2788
34  147         45  2018     8          value_scantronReading  3019
35  533         45  2018     8  value_aspireReadingScaleScore   290
36  680         45  2018     8                 value_starMath  2788
37  652         45  2018    11        value_actCompositeScore  19.1
38  653         45  2018    11             value_actMathScore    17
39  654         45  2018    11          value_actReadingScore    18
40  655         45  2018    11          value_actEnglishScore    18
41  656         45  2018    11          value_actScienceScore    18

In [14]:
df_benchmarks['year'].unique()

array(['2017', '2018'], dtype=object)

In [15]:
df_benchmarks['level'].unique()

array(['3', '4', '5', '6', '7', '8', '11'], dtype=object)

In [16]:
df_benchmarks['dataSource'].unique()

array(['value_scantronMath', 'value_scantronReading',
       'value_actCompositeScore', 'value_aspireReadingScaleScore',
       'value_starMath', 'value_actMathScore', 'value_actReadingScore',
       'value_actEnglishScore', 'value_actScienceScore'], dtype=object)

In [7]:
df_schools.head()

,id,name,districtId,costCenter,abbreviation,acqRequestSelectable,oneRoster_sourcedId,oneRoster_ticketId
0,222,Elementary A,45,5,EES,1,,0
1,223,Middle School A,45,8,EMS,1,,0
2,224,High School A,45,10,ECHS,1,,0
3,225,Junior High B,45,12,ECJH,1,,0
4,226,Elementary School B,45,18,HES,1,,0

In [8]:
df_courseSections.head()

      id    vanityId  year schoolId
0  40388        PE 4  2015      222
1  40389   READING 4  2015      222
2  40390   HmroomPK6  2015      222
3  40391  LANGUAGE 4  2015      222
4  40392   SCIENCE 4  2015      222

In [9]:
df_courseSectionRosters.head()

        id courseSectionId studentId studentLevel ticket
0  1047696           39975     45333            4
1  1047704           39975     56116            4
2  1047706           39975     45345            4
3  1047715           39975     45400            4
4  1047729           39975     45413            4

Scores

In [10]:
df_scores.head()

,id,ticket,studentId,studentLevel,year,measurementTypeId,subgroup_specialEd,subgroup_lunchStatus,subgroup_gender,subgroup_ethnicity,...,value_starReading,value_starMath,value_ScienceMilestones,value_LEAPScience,value_SocialMilestones,value_gcaInfo,value_gcaNar,value_gcaOpin,value_aimsWebMath,value_aimsWebReading
0,115316,1530793427me3n202dz2,44774,8,2017,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,120482,1530793766nnbvcr456s,44774,8,2017,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,394052,1561150944dlvii7ak6r,44774,9,2018,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,115317,1530793427me3n202dz2,44775,8,2017,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,120483,1530793766nnbvcr456s,44775,8,2017,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_scores.shape

(34317, 71)

In [22]:
df_scores['id'].nunique()

34317

In [18]:
df_scores['studentLevel'].unique()

array(['8', '9', '6', '7', '5', '11', '12', '10', '4', '3', '2', '1', '0',
       '99', '98', '97', '96'], dtype=object)

In [11]:
df_scores.columns

Index(['id', 'ticket', 'studentId', 'studentLevel', 'year',
       'measurementTypeId', 'subgroup_specialEd', 'subgroup_lunchStatus',
       'subgroup_gender', 'subgroup_ethnicity', 'subgroup_ell',
       'subgroup_bottom25', 'value_actMathScore', 'value_actEnglishScore',
       'value_actReadingScore', 'value_actScienceScore',
       'value_actCompositeScore', 'value_nweaMath', 'value_nweaReading',
       'value_nweaEnglish', 'value_iReadyMath', 'value_iReadyReading',
       'value_actMasteryComposite', 'value_actMasteryReading',
       'value_actMasteryMath', 'value_actMasteryScience',
       'value_actMasteryEnglish', 'value_nweaELA', 'value_scantronMath',
       'value_scantronReading', 'value_mapMath', 'value_mapEnglish',
       'value_mapReading', 'value_mapRLA', 'value_scantronScience',
       'value_scantronLanguage', 'value_ReadingFoundations',
       'value_scantronAlgebra', 'value_eocMath', 'value_actELAScore',
       'value_mapScience', 'value_LeapELAScale', 'value_LeapMathScale',
       'value_LeapALScale', 'value_LeapE2Scale', 'value_LeapGmScale',
       'value_LeapBlScale', 'value_LeapE3Scale', 'value_LeapUsScale',
       'value_E1Scale', 'value_UsEsScale', 'value_accessReadingScale',
       'value_accessReadingProficiency', 'value_accessCompositeScale',
       'value_accesscompositeProficiency', 'value_dibelsReading',
       'value_mapHistory', 'value_LEAPSocSci', 'value_scantronGeometry',
       'value_MathMilestones', 'value_ELAMilestones', 'value_starReading',
       'value_starMath', 'value_ScienceMilestones', 'value_LEAPScience',
       'value_SocialMilestones', 'value_gcaInfo', 'value_gcaNar',
       'value_gcaOpin', 'value_aimsWebMath', 'value_aimsWebReading'],
      dtype='object')

In [27]:
scoreTypes = ['value_actMathScore', 'value_actEnglishScore',
       'value_actReadingScore', 'value_actScienceScore',
       'value_actCompositeScore', 'value_nweaMath', 'value_nweaReading',
       'value_nweaEnglish', 'value_iReadyMath', 'value_iReadyReading',
       'value_actMasteryComposite', 'value_actMasteryReading',
       'value_actMasteryMath', 'value_actMasteryScience',
       'value_actMasteryEnglish', 'value_nweaELA', 'value_scantronMath',
       'value_scantronReading', 'value_mapMath', 'value_mapEnglish',
       'value_mapReading', 'value_mapRLA', 'value_scantronScience',
       'value_scantronLanguage', 'value_ReadingFoundations',
       'value_scantronAlgebra', 'value_eocMath', 'value_actELAScore',
       'value_mapScience', 'value_LeapELAScale', 'value_LeapMathScale',
       'value_LeapALScale', 'value_LeapE2Scale', 'value_LeapGmScale',
       'value_LeapBlScale', 'value_LeapE3Scale', 'value_LeapUsScale',
       'value_E1Scale', 'value_UsEsScale', 'value_accessReadingScale',
       'value_accessReadingProficiency', 'value_accessCompositeScale',
       'value_accesscompositeProficiency', 'value_dibelsReading',
       'value_mapHistory', 'value_LEAPSocSci', 'value_scantronGeometry',
       'value_MathMilestones', 'value_ELAMilestones', 'value_starReading',
       'value_starMath', 'value_ScienceMilestones', 'value_LEAPScience',
       'value_SocialMilestones', 'value_gcaInfo', 'value_gcaNar',
       'value_gcaOpin', 'value_aimsWebMath', 'value_aimsWebReading']

for score in scoreTypes:
    print(score, df_scores[score].nunique())

value_actMathScore 26
value_actEnglishScore 34
value_actReadingScore 34
value_actScienceScore 32
value_actCompositeScore 29
value_nweaMath 1
value_nweaReading 1
value_nweaEnglish 1
value_iReadyMath 1
value_iReadyReading 1
value_actMasteryComposite 1
value_actMasteryReading 1
value_actMasteryMath 1
value_actMasteryScience 1
value_actMasteryEnglish 1
value_nweaELA 1
value_scantronMath 1429
value_scantronReading 1783
value_mapMath 1
value_mapEnglish 1
value_mapReading 1
value_mapRLA 1
value_scantronScience 1
value_scantronLanguage 1
value_ReadingFoundations 1
value_scantronAlgebra 1
value_eocMath 1
value_actELAScore 1
value_mapScience 1
value_LeapELAScale 1
value_LeapMathScale 1
value_LeapALScale 1
value_LeapE2Scale 1
value_LeapGmScale 1
value_LeapBlScale 1
value_LeapE3Scale 1
value_LeapUsScale 1
value_E1Scale 1
value_UsEsScale 1
value_accessReadingScale 1
value_accessReadingProficiency 1
value_accessCompositeScale 1
value_accesscompositeProficiency 1
value_dibelsReading 1
value_mapHistory 1
value_LEAPSocSci 1
value_scantronGeometry 1
value_MathMilestones 1
value_ELAMilestones 1
value_starReading 1
value_starMath 1054
value_ScienceMilestones 1
value_LEAPScience 1
value_SocialMilestones 1
value_gcaInfo 1
value_gcaNar 1
value_gcaOpin 1
value_aimsWebMath 1
value_aimsWebReading 1

In [13]:
df_scores['studentId'].nunique()

12211