# actMath_11
- District: 45
- Year (Features): 2017
- Grades: 11
- Values / dataSource: actMath
- Features: \[
 'school_High School A',
 'school_High School B',
 'school_High School C',
 'school_High School D',
 'category_MATHEMATICS',
 'category_ENGLISH',
 'category_SCIENCE',
 'category_SOCIAL_STUDIES',
 'category_FOREIGN_LANGUAGE',
 'category_PERFORMING_ARTS',
 'category_VISUAL_ARTS',
 'category_TECHNOLOGY',
 'category_BUSINESS',
 'category_TRADES',
 'category_AGRICULTURE',
 'category_PHYSICAL_EDUCATION',
 'category_HEALTH',
 'category_CAREER_PREP',
 'category_MILITARY_SCIENCE']
- Num features: 19
- Label: `proficient_score`
- Accuracy: 0.72
- F1: 0.66
- Other metrics: Log Loss: 0.57
- Notes: Dropping vendors from features caused no difference

In [1]:
#Import libraries/packages
import pandas as pd
import numpy as np
import os 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
#Loading the dataframe
filename = os.path.join(os.getcwd(), "..", "dataframes", "actMath_11_encoded_df.csv")
actMath11_df = pd.read_csv(filename, header = 0)

In [3]:
actMath11_df.head()

,studentId,is_proficient,proficient_score,school_High School A,school_High School B,school_High School C,school_High School D,iready_math,iready_reading,bbb_literacy,...,category_PERFORMING_ARTS,category_VISUAL_ARTS,category_TECHNOLOGY,category_BUSINESS,category_TRADES,category_AGRICULTURE,category_PHYSICAL_EDUCATION,category_HEALTH,category_CAREER_PREP,category_MILITARY_SCIENCE
0,45054,False,0.264706,True,False,False,False,0,0,0,...,False,False,False,False,True,False,False,False,False,False
1,45054,False,0.264706,True,False,False,False,0,0,0,...,False,False,False,False,True,False,False,False,False,False
2,45440,False,0.941176,False,False,False,False,0,0,0,...,False,False,False,False,False,False,False,False,False,False
3,45440,False,0.941176,False,False,False,False,0,0,0,...,False,False,False,False,False,False,False,False,False,False
4,45440,False,0.941176,False,False,False,False,0,0,0,...,False,False,False,False,False,False,False,False,False,False

In [4]:
#Get a list of columns with only True and False values
true_false_columns = actMath11_df.columns[actMath11_df.apply(lambda col: col.isin([True, False]).all())]

#Convert to a list
true_false_columns_list = true_false_columns.tolist()

#Make true false 1 and 0
actMath11_df[true_false_columns] = actMath11_df[true_false_columns].astype(int)

In [5]:
feature_list = list(actMath11_df.select_dtypes(include = ['int']).columns)
feature_list.remove('is_proficient')
feature_list.remove('studentId')
feature_list.remove('iready_math')
feature_list.remove('iready_reading')
feature_list.remove('bbb_literacy')

In [13]:
print(feature_list)

['school_High School A', 'school_High School B', 'school_High School C', 'school_High School D', 'category_MATHEMATICS', 'category_ENGLISH', 'category_SCIENCE', 'category_SOCIAL_STUDIES', 'category_FOREIGN_LANGUAGE', 'category_PERFORMING_ARTS', 'category_VISUAL_ARTS', 'category_TECHNOLOGY', 'category_BUSINESS', 'category_TRADES', 'category_AGRICULTURE', 'category_PHYSICAL_EDUCATION', 'category_HEALTH', 'category_CAREER_PREP', 'category_MILITARY_SCIENCE']

In [7]:
y = actMath11_df['is_proficient']
X = actMath11_df[feature_list]

print("Number of examples: " + str(X.shape[0]))
print("\nNumber of Features:" + str(X.shape[1]))
print(str(list(X.columns)))

Number of examples: 2580

Number of Features:19
['school_High School A', 'school_High School B', 'school_High School C', 'school_High School D', 'category_MATHEMATICS', 'category_ENGLISH', 'category_SCIENCE', 'category_SOCIAL_STUDIES', 'category_FOREIGN_LANGUAGE', 'category_PERFORMING_ARTS', 'category_VISUAL_ARTS', 'category_TECHNOLOGY', 'category_BUSINESS', 'category_TRADES', 'category_AGRICULTURE', 'category_PHYSICAL_EDUCATION', 'category_HEALTH', 'category_CAREER_PREP', 'category_MILITARY_SCIENCE']

In [8]:
#Create training and test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state=1234)

In [9]:
print(X_train.shape)
print(X_test.shape)

(1728, 19)
(852, 19)

In [10]:
# Create the LogisticRegression model object
model = LogisticRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test data
probability_predictions = model.predict_proba(X_test)

# print the first 5 probability class predictions
df_print = pd.DataFrame(probability_predictions, columns = ['Class: False', 'Class: True'])
print('Class Prediction Probabilities: \n' + df_print[0:5].to_string(index=False))

# Compute the log loss
l_loss = log_loss(y_test, probability_predictions)
print('Log loss: ' + str(l_loss))

# Make predictions on the test data using the predict() method
class_label_predictions = model.predict(X_test)

# Print the classification report
print("\nClassification Report:")
print(classification_report(y_test, class_label_predictions))

# Print the first 5 class label predictions 
print('Class labels: ' + str(class_label_predictions[0:5]))

# Compute the accuracy score on 'class_label_predictions'
acc_score = accuracy_score(y_test, class_label_predictions)
print('Accuracy: ' + str(acc_score))

Class Prediction Probabilities:
 Class: False  Class: True
     0.717508     0.282492
     0.717508     0.282492
     0.394856     0.605144
     0.794121     0.205879
     0.186605     0.813395
Log loss: 0.5744794139655081

Classification Report:
              precision    recall  f1-score   support

           0       0.71      0.92      0.80       526
           1       0.76      0.39      0.52       326

    accuracy                           0.72       852
   macro avg       0.73      0.66      0.66       852
weighted avg       0.73      0.72      0.69       852

Class labels: [0 0 1 0 1]
Accuracy: 0.7194835680751174

In [11]:
def computeAccuracy(threshold_value):
    
    labels=[]
    for p in probability_predictions[:,0]:
        if p >= threshold_value:
            labels.append(False)
        else:
            labels.append(True)
    
    acc_score = accuracy_score(y_test, labels)
    return acc_score

In [12]:
thresholds = [0.44, 0.50, 0.55, 0.67, 0.75]
for t in thresholds:
    print("Threshold value {:.2f}: Accuracy {}".format(t, str(computeAccuracy(t))))

Threshold value 0.44: Accuracy 0.7230046948356808
Threshold value 0.50: Accuracy 0.7194835680751174
Threshold value 0.55: Accuracy 0.7206572769953051
Threshold value 0.67: Accuracy 0.6960093896713615
Threshold value 0.75: Accuracy 0.5446009389671361