In [1]:
import pandas as pd
import numpy as np
import json
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [29]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:
repo_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
data_path = os.path.join(repo_root, 'predicting-proficiency', 'data')

# process data

In [7]:
file_names = [
    ('2024-10-08 District 18 Scores.json', '2023 District 18 Scores.json'),
    ('2024-10-08 District 18 Schools.json', 'District 18 Anonymized Schools.json'),
    ('2024-10-08 District 18 Student Attributes.json', '2023 District 18 Student Attributes.json'),
    ('2024-10-08 District 18 Vendor Student Usage.json', '2023 District 18 Vendor Student Usage'),
    ('2024-10-08 Distrcit 18 Vendor Usage Types.json','District 18 Vendor Usage Types.json'),
    ('2024-10-15 District 18 Benchmarks.json', 'benchmarksByMeasurement18_202410141332.json')
]

for old_name, new_name in file_names:
    old_path = os.path.join(data_path, 'raw', old_name)
    new_path = os.path.join(data_path, 'raw', new_name)
    if os.path.exists(old_path) and not os.path.exists(new_path):
        os.rename(old_path, new_path)

In [8]:
file_names

[('2024-10-08 District 18 Scores.json', '2023 District 18 Scores.json'),
 ('2024-10-08 District 18 Schools.json',
  'District 18 Anonymized Schools.json'),
 ('2024-10-08 District 18 Student Attributes.json',
  '2023 District 18 Student Attributes.json'),
 ('2024-10-08 District 18 Vendor Student Usage.json',
  '2023 District 18 Vendor Student Usage'),
 ('2024-10-08 Distrcit 18 Vendor Usage Types.json',
  'District 18 Vendor Usage Types.json'),
 ('2024-10-15 District 18 Benchmarks.json',
  'benchmarksByMeasurement18_202410141332.json')]

In [10]:
with open('../../data/raw/2023 District 18 Scores.json', 'r') as file:
    scores_json = json.loads(file.read())

with open('../../data/raw/District 18 Anonymized Schools.json', 'r') as file:
    schools_json = json.loads(file.read())

with open('../../data/raw/2023 District 18 Student Attributes.json', 'r') as file:
    studentAttributes_json = json.loads(file.read())

with open('../../data/raw/2023 District 18 Vendor Student Usage.json', 'r') as file:
    vendorUsage_json = json.loads(file.read())

with open('../../data/raw/District 18 Vendor Usage Types.json', 'r') as file:
    vendorUsageTypes_json = json.loads(file.read())

with open('../../data/raw/benchmarksByMeasurement_202410141332.json', 'r') as file:
    benchmarks_json = json.loads(file.read())

In [11]:
scores_data = scores_json[list(scores_json.keys())[0]]
scores_df= pd.DataFrame(scores_data)

schools_data = schools_json[list(schools_json.keys())[0]]
schools_df = pd.DataFrame(schools_data)

studentAttributes_data = studentAttributes_json[list(studentAttributes_json.keys())[0]]
studentAttributes_df=pd.DataFrame(studentAttributes_data)

vendorUsage_data = vendorUsage_json[list(vendorUsage_json.keys())[0]]
vendorUsage_df = pd.DataFrame(vendorUsage_data)

vendorUsageTypes_data = vendorUsageTypes_json[list(vendorUsageTypes_json.keys())[0]]
vendorUsageTypes_df = pd.DataFrame(vendorUsageTypes_data)

benchmarks_data = benchmarks_json[list(benchmarks_json.keys())[0]]
benchmarks_df = pd.DataFrame(benchmarks_data)

In [16]:
repo_root = os.path.abspath(os.path.join(os.getcwd(), '../..'))
data_path = os.path.join(repo_root, 'data')

processed_dir = os.path.join(data_path, 'processed')
# if os.path.exists(processed_dir):
#     for file in os.listdir(processed_dir):
#         file_path = os.path.join(processed_dir, file)
#         if os.path.isfile(file_path):
#             os.unlink(file_path)

os.makedirs(os.path.dirname(data_path), exist_ok=True)
scores_df.to_csv(os.path.join(data_path, 'processed', '18_scores_2024-10-08.csv'), index=False)
schools_df.to_csv(os.path.join(data_path, 'processed', '18_schools_2024-10-08.csv'), index=False)
studentAttributes_df.to_csv(os.path.join(data_path, 'processed', '18_studentAttributes_2024-10-08.csv'), index=False)
vendorUsage_df.to_csv(os.path.join(data_path, 'processed', '18_vendorUsage_2024-10-08.csv'), index=False)
vendorUsageTypes_df.to_csv(os.path.join(data_path, 'processed', '18_vendorUsageTypes_2024-10-08.csv'), index=False)
benchmarks_df.to_csv(os.path.join(data_path, 'processed', '18_benchmark_2024-10-15.csv'), index=False)

# make dfs

In [44]:
path = '../../data/processed'
benchmarks_df = pd.read_csv(os.path.join(path, '18_benchmark_2024-10-15.csv'))
schools_df = pd.read_csv(os.path.join(path, '18_schools_2024-10-08.csv'))
scores_df = pd.read_csv(os.path.join(path, '18_scores_2024-10-08.csv'))
vendorUsage_df = pd.read_csv(os.path.join(path, '18_vendorUsage_2024-10-08.csv'))
vendorUsageTypes_df = pd.read_csv(os.path.join(path, '18_vendorUsageTypes_2024-10-08.csv'))

/var/folders/w3/z8qntdcx62v2qmj6z9fwfhrh0000gp/T/ipykernel_28196/762126148.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  scores_df = pd.read_csv(os.path.join(path, '18_scores_2024-10-08.csv'))

## scores

In [36]:
list(col for col in scores_df.columns if 'value_' not in col)

['id',
 'districtId',
 'subgroup_TCAPELALevel',
 'ticket',
 'studentId',
 'studentLevel',
 'year',
 'scoreDate',
 'measurementTypeId',
 'subgroup_specialEd',
 'subgroup_lunchStatus',
 'subgroup_gender',
 'subgroup_ethnicity',
 'subgroup_ell',
 'subGroup_bottom25',
 'subgroup_TCAPMathLevel']

In [39]:
print(scores_df['year'].value_counts())
print()
print(scores_df['studentLevel'].value_counts())
print()
print(scores_df['measurementTypeId'].value_counts())

year
2023    132258
Name: count, dtype: int64

studentLevel
 8     16802
 6     16039
 7     15903
 3     15434
 2     14925
 5     14754
 4     14464
 9      5409
 10     4400
 1      4299
 11     4082
 0      3303
 12     2414
 62       21
 56        6
 52        2
-1         1
Name: count, dtype: int64

measurementTypeId
4     10503
3      9359
1      9087
2      9079
7      8956
6      8427
9      7778
5      7755
18     6063
14     5965
17     5965
16     5965
15     5965
8      5965
13     5965
12     5965
11     5965
10     5965
40     1566
Name: count, dtype: int64

## vendors

In [22]:
vendorUsageTypes_df

,id,name,districtId,usageTypeId,roiBucketType,initiativeId,vendorId,utilBucketType,weeklyUsageMinutes,productId
0,4,IXL Reading Non,18,1,loss,61,72609,nonUser,0,0
1,5,IXL Reading Partial,18,2,loss,61,72609,partialUser,0,0
2,6,IXL Reading User,18,3,gain,61,72609,fullUser,0,0
3,7,IXL Math Non User,18,4,loss,60,11333,nonUser,0,0
4,8,IXL Math Partial,18,5,loss,60,11333,partialUser,0,0
...,...,...,...,...,...,...,...,...,...,...
285,14805,IXL Reading Partial,18,2,loss,4080,72609,partialUser,0,0
286,14806,IXL Reading User,18,3,gain,4080,72609,fullUser,0,0
287,14807,IXL Reading Non,18,1,loss,4081,72609,nonUser,0,0
288,14808,IXL Reading Partial,18,2,loss,4081,72609,partialUser,0,0
289,14809,IXL Reading User,18,3,gain,4081,72609,fullUser,0,0

In [46]:
vendorUsageTypes_df['name'].unique()

array(['IXL Reading Non', 'IXL Reading Partial', 'IXL Reading User',
       'IXL Math Non User', 'IXL Math Partial ', 'IXL Math User',
       'MyOn R User', 'MyOn R Partial User', 'MyOn R Non User',
       'Freckle R User', 'Freckle R Partial User', 'Freckle R Non User',
       'Freckle M User', 'Freckle M Partial User', 'Freckle M Non User ',
       'Freckle Sci User', 'Freckle Sci Partial User',
       'Freckle Sci NonUser', 'Freckle SS User', 'Freckle SS PartialUser',
       'Freckle SS NonUser', 'IXL Science User', 'IXL Science Non User',
       'IXL Science Partial', 'IXL SS User', 'IXL SS Non',
       'IXL SS Partial', 'Freckle M Adaptive User',
       'Freckle M Adaptive Partial User', 'Freckle M Adaptive Non User',
       'Freckle M Target User', 'Freckle M Target Partial User',
       'Freckle M Target Non User', 'Beable ELA User',
       'Beable ELA Partial User', 'Beable Non User', 'AR User',
       'AR Partial User', 'AR Non User', 'Reflex M User',
       'Reflex M Partial User', 'Reflex M Non User', 'Frax M User',
       'Frax M Partial User', 'Frax M Non User'], dtype=object)

In [45]:
vendorUsage_df['usageTypeId'].value_counts()

usageTypeId
39    8610
1     8165
4     8042
3     7598
6     7568
27    6471
24    6041
42    4427
5     4167
2     4014
37    1683
41    1110
38     945
23     602
26     259
22     200
40     195
25     113
9      105
Name: count, dtype: int64